<!DOCTYPE HTML>
<style>
header {
	background-color: #a6bddb;
    font-family: verdana;
    font-size: 100%;
    }
p {
	margin: 5px;
	}
form {
	margin: 5px;
	}
body {
  overflow: scroll;
}
</style>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  
  <header>
  {% block head %}
  <div align = center>
  <h1>
  U.S.A. SENATE HISTORICAL VOTES
  </h1>
  </div>
  {% endblock %}
  </header>
  
  {% block content %}
  	<form action="{{ url_for('index') }}" method="POST">
		<p align="center">Select a year :            
        	<select name=year onchange="this.form.submit()">
            {% for x in year_list %}
   			<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
            {% endfor %}
            </select>
        </p>
    </form>

  {% endblock %}
  
  {% block body %}{% endblock %}
    
  {% block footer %} 
  <div align=right> 
  <h5 {text-align:left;}>
  -- Designed by Jorge Pinzon --
  </h5>
  </div>
  {% endblock %}

</body>
</html>